.footer{
    margin-top: auto;
    width: 100%;
    overflow: hidden;
    &__pagetop{
        position: relative;
        &__link{
            position: fixed;
            right: -30px;
            bottom: 3rem;
            transform: translateX(-100%);
            background-color: #0052cc;
            font-size: 1.4rem;
            font-weight: bold;
            width: 48px;
            height: 48px;
            border-radius: 4rem;
            transition: opacity 1s ease-in;
            opacity: 0;
            &.show{
                opacity: 1;
            }
            &:hover{
                border-bottom: none;
                opacity: .6;
            }
        }
    }
}