@import "_library/_colors";
@import "_library/_mixin";
@import "_library/_typo";



 //サンプルページ用CSS


    .wrapper {
        background-color: #fff;
        font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    } 
//ヘッダー部分のCSS
    .header {
        color: #333;
        background-color: #fff;
        position: fixed;
        width: 100%;
        z-index: 999999;
        height: 80px;
        box-shadow: 0 3px 6px 0 rgba(85, 85, 85, 0.16);
        text-align: center;
        @include mq(md) {
            height: 60px;
        }
        &-inner {
            margin: 0 auto;
            max-width: 1366px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 143px;
            @include mq(md) {
                padding: 0 20px;
                height: 60px;
            }
        }
        &-inner__left {
            display: flex;
        }
        .logo-txt {
            font-family: NotoSansJP;
            font-size: 18px;
            font-weight: bold;
            color: #000;
            margin: 0 0 0 32px;
            @include mq(md) {
                display: none;
            }
        }
        &-inner__right {
            width: 180px;
            height: 50px;
            margin: 15px 0;
            @include mq(sm) {
                width: 113px;
                height: 35px;
                border-radius: 21px;
                margin: 0 0 12px 0;
            }
            a {
                text-decoration: none;
            }
            p {
                border-radius: 50px;
                font-family: NotoSansJP;
                background-color: #ff6283;
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                color: #fff;
                padding: 13px;
                margin: 0;
                @include mq(md) {
                    font-size: 12px;
                }
            }
            p:hover {
                opacity: .6;
                transition: 1s;
            }
        }
    }

    .logo {
        width: 153px;
        height: 25px;
    }

//ボディ部分のCSS
    .content {
        text-align: center;
        .mv{
            padding: 0 0 200px 0;
            background-color: #c9e9fa;
            width: 100%;
            height: 480px;
            z-index: 1;
            position: sticky;
            top: 0;
            @include mq(md) {
                padding: 85px 0 130px;
                position: relative;
            }
            .mv-inner {
                margin: 0 auto;
                max-width: 1366px;
                padding: 160px 0 143px 143px;
                background-image: url("/assets/img/mv.svg");
                background-position: right;
                background-repeat: no-repeat;
                background-size: auto 640px;
                @include mq(md) {
                    display: block;
                    padding: 0 20px;
                    background-image: none;
                }
            }
            .mv-txt {
                width: 100%;
                font-family: NotoSansJP;
                text-align: left;
                color: #000;
                @include mq(md) {
                }
                &__first {
                    font-weight: bold;
                    margin: 0 0 34px 0;
                    font-size: 32px;
                    @include mq(md) {
                        font-size: 16px;
                        margin: 0 0 18px 0;
                    }
                }
                &__second {
                    font-weight: bold;
                    margin: 34px 0 10px;
                    font-size: 60px;
                    @include mq(md) {
                        font-size: 30px;
                        margin: 0;
                    } 
                }
                &__third {
                    font-family: NotoSansJPMedium;
                    font-size: 20px;
                    line-height: 2.1;
                    @include mq(md) {
                      overflow-wrap: wrap;
                      width: 100%;
                      font-size: 15px;
                      margin: 0;
                    } 
                }
                &__blue {
                    color: #0052cc;
                }
            } 
            .mv-top {
                display: none;
                @include mq(md) {
                    display: block;
                }
                img {
                    width: 100%;
                    @include mq(sm) {
                        width: 110%;
                    }
                }
            }
        }
        .about {
            background-color: #fff;
            padding: 1px 0;
            width: 100%;
            color: #000;
            z-index: 2;
            position: relative;
            .about-inner {
                margin: 0 auto;
                max-width: 1336px;
                position: relative;
                padding-top: 30px;
                @include mq(sm) {
                    padding: 0 20px 56px;
                }
                &__title {
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    max-width: 490px;
                    @include mq(sm) {
                        justify-content: center;
                        margin: 57px 0 35px 0;
                    }
                }
                &__dsc {
                    font-family: NotoSansJP;
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 36px;
                    text-align: center;
                    @include mq(sm) {
                        font-size: 16px;
                    }
                    p {
                        @include mq(sm) {
                            margin: 0 0 28px 0;
                        }
                    }
                }
                &__img {
                    img {
                        width: 100%;
                        @include mq(md) {
                            display: none;
                        }
                    }
                }
                &__txt {
                    font-family: NotoSansJP;
                    font-size: 16px;
                    line-height: 1.75;
                    letter-spacing: normal;
                    text-align: center;
                    position: relative;
                    top: -65px;
                    width: 100%;
                    @include mq(sm) {
                        top: 0;
                        text-align: left;
                    }
                }
            }
            .about-title__blue {
                font-family: Rockwell;
                font-size: 60px;
                font-weight: bold;
                color: #0052cc;
                margin: 0;
                @include mq(md) {
                    font-size: 35px;
                }
            }
            .about-title__black {
                font-family: NotoSansJP;
                font-size: 36px;
                font-weight: bold;
                @include mq(md) {
                    font-size: 30px;
                    margin: 0;
                }
            }
            .about-inner-sp {
                display: none;
                @include mq(md) {
                    display: block;
                }
                img {
                    width: 100%;
                }
            }
        }
        .trouble {
            width: 100%;
            background-color: #f5f5f5;
            padding: 60px 0 0 0 ;
            z-index: 2;
            position: relative;
            .trouble-inner {
                margin: 0 auto;
                max-width: 1366px;
                padding: 0 143px;
                @include mq(sm) {
                    padding: 0 20px;
                }
                &__title  {
                    @include mq(md) {
                        display: none;
                    }
                    p {
                        font-family: NotoSansJP;
                        font-size: 40px;
                        font-weight: bold;
                        margin: 0 0 58px 0;
                    }
                }
                &__title-sp  {
                    display: none;
                    @include mq(md) {
                        display: block;
                    }
                    p {
                        font-family: NotoSansJP;
                        font-size: 30px;
                        font-weight: bold;
                        margin: 0;
                    }
                }
                &__ex {
                    display: flex;
                    justify-content: space-between;
                    @include mq(md) {
                        display: block;
                    }
                }
                .exmple {
                    width: 100%;
                    margin: 0 13px;
                    padding: 30px 30px 26px 30px;
                    border-radius: 20px;
                    box-shadow: 0 3px 20px 0 rgba(85, 85, 85, 0.16);
                    background-color: #fff;
                    text-align: center;
                    @include mq(md) {
                        width: 100%;
                        margin: 30px 0px;
                        padding: 0 0 16px 0;
                    }
                    &-img {
                        width: 70%;
                        @include mq(md) {
                            margin-top: 30px;
                        }
                    }
                    &-title {
                        font-family: NotoSansJP;
                        font-size: 18px;
                        font-weight: bold;
                    }
                    &-txt {
                        margin: 0 auto;
                        font-family: NotoSansJP;
                        font-size: 13px;
                        font-weight: normal;
                        text-align: left;
                        color: #000;
                        padding: 10px 25px;
                        @include mq(md) {
                            padding: 10px 25px;
                        }
                    }
                }
            }
            .solution-inner {
                max-width: 1366px;
                margin: 0 auto;
                padding: 0 203px;
                @include mq(md) {
                    padding: 0;
                }
                &__title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 28px;
                    @include mq(md) {
                        display: block;
                        padding: 0 20px;
                        margin: 55px 0;
                    }
                }
                .solution-title__blue {
                    font-family: Rockwell;
                    font-size: 60px;
                    font-weight: bold;
                    color: #0052cc;
                    @include mq(md) {
                        margin: 0;
                        font-size: 40px;
                    }
                }
                .solution-title__black {
                    font-family: NotoSansJP;
                    font-size: 40px;
                    font-weight: bold;
                    padding: 10px;
                    @include mq(md) {
                        margin: 0;
                        padding: 0;
                        font-size: 30px;
                    }
                }
                .solution-list {
                    padding: 0 60px;
                    margin: 0 auto;
                    @include mq(sm) {
                        padding: 0 20px;
                    }
                    .solution-box {
                        padding: 30px;
                        border-radius: 20px;
                        box-shadow: 0 3px 20px 0 rgba(85, 85, 85, 0.16);
                        background-color: #fff;
                        margin-bottom: 50px;
                        @include mq(sm) {
                            padding: 30px 25px;
                        }
                        &__number {
                            font-family: Rockwell;
                            font-size: 40px;
                            font-weight: bold;
                            color: #0052cc;
                            @include mq(sm) {
                                font-size: 32px;
                            }
                            h2 {
                                margin: 0;
                            }
                        }
                        &__title {
                            font-family: NotoSansJP;
                            font-size: 28px;
                            font-weight: bold;
                            color: #0052cc;
                            @include mq(sm) {
                                font-size: 22px;
                            }
                            p {
                                margin: 0;
                            }
                        }
                        &__dsc {
                            text-align: center;
                            font-family: NotoSansJP;
                            font-size: 16px;
                            margin: 25px 0;
                            @include mq(sm) {
                                padding: 0;
                                text-align: left;
                            }
                        }
                    }
                }
                .solution-box__img {
                    position: relative;
                    padding: 0 54px;
                    @include mq(sm) {
                        display: none;
                    }
                    img {
                    width: 100%;
                    }
                    p {
                        font-family: NotoSansJP;
                        padding: 30px 16px; 
                        font-size: 16px;
                        font-weight: bold;
                        text-align: center;
                        color: #fff;
                        margin: 0;
                    }
                }
                .solution-box__img-sp {
                    display: none;
                    @include mq(sm) {
                        position: relative;
                        display: block;
                    }
                    img {
                        border-radius: 10px;
                        width: 85%;
                        box-shadow: 0 3px 20px 0 rgba(85, 85, 85, 0.16);
                    }
                }
                .img-sp__left {
                    text-align: left;
                }
                .img-sp__right {
                    text-align: right;
                } 
                .solution-bluebox__left {
                    display: none;
                    @include mq(sm) {
                        display: block;
                        position: absolute;
                        top: -70px;
                    }
                    img {
                        width: 189px;
                        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
                    }
                }
                .solution-bluebox__right {
                    display: none;
                    @include mq(sm) {
                        display: block;
                        position: absolute;
                        top: -70px;
                        right: 0px;
                    }
                    img {
                        width: 189px;
                        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
                    }
                }
                .solution-box__right {
                    width: 190px;
                    height: 130px;
                    position: absolute;
                    top: -20px;
                    right: 30px;
                    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
                    background-color: #0052cc;
                    border-radius: 5%;
                }
                .solution-box__left {
                    width: 190px;
                    height: 130px;
                    position: absolute;
                    top: -20px;
                    left: 30px;
                    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
                    background-color: #0052cc;
                    border-radius: 5%;
                }
                .img-sp__top {
                    margin-top: 100px;
                }
                .img-sp__last {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .contact {
        background-color: #fff;
        text-align: center;
        padding: 65px 0 62px 0;
        @include mq(sm) {
            padding: 55px 0 52px 0;
        }
        .footer-inner {
            margin: 0 auto;
            width: 100%;
            background-color: #fff;
            @include mq(sm) {
            }
            &__contact-pc {
                height: 18px;
                margin: 0px 0 33px 0px;
                @include mq(sm) {
                    font-size: 16px;
                    color: #000;
                    display: none;
                }
                p {
                    font-family: NotoSansJP;
                    font-size: 18px;
                }
            }
            &__contact-sp {
                height: 18px;
                margin: 0px 0 33px 0px;
                display: none;
                @include mq(sm)  {
                    display: block;
                    margin: 0 0 50px 0;
                }
                p {
                    font-family: NotoSansJP;
                    font-size: 18px;
                }
            }
            &__btn {
                margin: 0 auto;
                border-radius: 45px;
                box-shadow: 0 3px 20px 0 rgba(51, 51, 51, 0.16);
                background-color: #ff6283;
                width: 500px;
                @include mq(sm) {
                    width:300px;
                }
                a {
                    text-decoration: none;
                }
                p {
                    padding: 25px 0;
                    font-family: NotoSansJP;
                    font-size: 24px;
                    font-weight: bold;
                    color: #fff;
                    @include mq(sm) {
                        padding: 23px 0;
                    }
                }
            }
            .footer-inner__btn:hover {
                opacity: .6;
                transition: 1s;
            }
            &__demo {
                font-family: NotoSansJP;
                font-size: 13px;
                margin-top: 34px;
            }
        }
    }

    .footer__pagetop  {
        position: relative;
        @include mq(sm) {
            display: none;
        } 
        .footer__pagetop__link{
            right: -30px;
            border-radius: 50%;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        }
        a::before{
            content: '';
            font-size: 25px;
            position: absolute;
            top: 19px;
            left: 16px;
            display: inline-block;
            width: 13px;
            height: 13px;
            border-top: 3px solid #fff;
            border-left: 3px solid #fff;
            transform: rotate(45deg);
          }
    }