//- サイト内で使用するまとまったデータ類はここへ記述
-
    var samplemenu = [
        {id: "sample_a", href: "/sample/page_sample.html", text: "下層ページサンプル1"},
        {id: "sample_b", href: "/sample/page_sample2.html", text: "下層ページサンプル2"},
    ]

-
    var sampletab = [
        {text: "タブ1のテキストタブ1のテキストタブ1のテキストタブ1のテキストタブ1のテキスト"},
        {text: "タブ2のテキストタブ2のテキストタブ2のテキストタブ2のテキストタブ2のテキスト"},
        {text: "タブ3のテキストタブ3のテキストタブ3のテキストタブ3のテキストタブ3のテキスト"},
        {text: "タブ4のテキストタブ4のテキストタブ4のテキストタブ4のテキストタブ4のテキスト"},
    ]
-
    var solutionList =[
        {number: "1",title: "テンプレートで効率アップ", desc: "テンプレートの項目やヘルプに沿って進行することで、経験値の大小に関係なく作業ができます。また、デバッグシート作成のリソースを他に回せるため、効率アップにつながります。"},
        {number: "2",title: "チェックポイントの共有", desc: "メンバーは自由にテンプレートの項目追加が行えます。ディレクター・クリエイター・エンジニアといった様々な立場から項目を充実させることで、見落としがちなポイントも抜けがありません。"},
        {number: "3",title: "コメント機能で見える化", desc: "テンプレート内のチェック項目の消化度やメンバーによる質問と回答、各項目の進捗や作業担当者などを見える化することで、プロジェクトの進行をスムーズにします。"},
        {number: "4",title: "ヒント機能で経験が浅くても安心", desc: "項目ごとに付けられるヒント機能により、作業のコツや注意点を各メンバーと簡単に共有！",},
    ]
