head
    //- GoogleAnalytics
    include _ga
    block meta
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no")
        
        // META
        title #{metas.title}
        +meta(metas)
        +inc_meta_ogp(metas)
        //- favicon
        +favicon()

    block style
        // CSS
        link(rel='stylesheet', href='/assets/css/reset.css')
        link(rel='stylesheet', href='/assets/css/app.css')