//- ヘッダ
// header
header
    .header
        .header-inner
            .header-inner__left
                a(href="/") 
                    img.logo(src="/assets/img/logo.png", alt="/")
                p.logo-txt WEB制作に関わる全ての人に
            .header-inner__right
                a(href="https://idealump.com/contact")  
                    p.contact お問い合わせ
                    