extends /_partials/_layout
block append vars
    //- ページ個別にメタデータを変更したい場合はここで再設定できます
    - metas.title = sitetitle
block append style
    //- ページ個別にスタイルシートを追加したい場合はここへ記述  
    link(rel='stylesheet', href='/assets/css/top.css')
block append end_of_body
    //- ページ個別にJsを追加したい場合はここへ記述  
block contents
    //- コンテンツ本文
    .mv 
        .mv-inner
            .mv-txt
                p.mv-txt__first WEB制作に関わる全ての人に
                p.mv-txt__second 今よりも効率の良い
                        br 
                        |  
                        span.mv-txt__blue デバッグを 
                        br 
                        | 行いたくありませんか？
                p.mv-txt__third 視点・知識の共有でチェック時の抜けや漏れをゼロに。
                        br
                        | コストを削減しつつ、制作物の品質向上に繋げるWEBツールです。
            .mv-top  
                img(src="/assets/img/mv.svg", alt="")
    .about  
        .about-inner
            .about-inner__title
                p.about-title__blue Debug King 
                p.about-title__black って？
            .about-inner__dsc 
                p クリエイター、ディレクター…といった、WEB制作に携わる人々が
                    br
                    | ひとつの制作物を完成させるために開発されたツールです。
            .about-inner__img 
                img(src="/assets/img/about.png", alt="")
            .about-inner-sp
                img(src="/assets/img/about-01.png", alt="")
                img(src="/assets/img/about-02.png", alt="")
                img(src="/assets/img/about-03.png", alt="")
            .about-inner__txt
                p このツールは主に、一般的な制作フローにおいてテスト公開から
                    br
                    | 本番公開の間にあるUI/UXデザインチェックの際に活躍します。
                    br
                    | ツールを活用することで余分なリソースを削減し、全体コストの調整に繋げます。
    .trouble 
        .trouble-inner 
            .trouble-inner__title 
                p こんなことに困っていませんか？
            .trouble-inner__title-sp
                p こんなことに
                    br
                    | 困っていませんか？
            .trouble-inner__ex 
                .exmple
                    img.exmple-img(src="/assets/img/trouble-01.png", alt="")
                    p.exmple-title 制作物の品質が安定しない
                    p.exmple-txt ・デバッグにリソースを割けずバグを見逃してしまう…
                    p.exmple-txt ・タイトなスケジューリングのせいでデバッグに時間を充てられない…

                .exmple
                    img.exmple-img(src="/assets/img/trouble-02.png", alt="")  
                    p.exmple-title 案件によってデバッグ精度が異なる
                    p.exmple-txt ・デバッグ経験に差のあるメンバーの間を埋めるのが大変だ…
                    p.exmple-txt ・デバッグ作業を行うメンバーが少なくチェックが手薄になってしまう…
                .exmple
                    img.exmple-img(src="/assets/img/trouble-03.png", alt="")
                    p.exmple-title デバッグシートの作成が面倒
                    p.exmple-txt ・各案件ごとに1から項目を考えて作成するのは非効率だ…
                    p.exmple-txt ・シートのブラッシュアップをするのにも時間がかかる…
        .solution-inner
            .solution-inner__title 
                p.solution-title__black そのお悩み
                p.solution-title__blue Debug King 
                p.solution-title__black で解決できます。
            .solution-list 
                .solution-box
                    .solution-box__number  
                        h2 1
                    .solution-box__title
                        p テンプレートで効率アップ
                    .solution-box__dsc
                        p テンプレートの項目やヘルプに沿って進行することで、
                            br
                            | 経験値の大小に関係なく作業ができます。
                            br
                            | また、デバッグシート作成のリソースを他に回せるため、効率アップにつながります。
                    .solution-box__img-sp.img-sp__left.img-sp__top
                        img(src="/assets/img/solution-01-sp.png", alt="")
                        .solution-bluebox__right 
                            img(src="/assets/img/solution-box01-sp.png", alt="") 
                    .solution-box__img
                        img(src="/assets/img/solution-00.png", alt="")
                        .solution-box__right
                            p 既に完成されたテン
                                br
                                | プレート通りに
                                br
                                | 進めるだけ！
                .solution-box
                    .solution-box__number  
                        h2 2
                    .solution-box__title
                        p チェックポイントの共有
                    .solution-box__dsc
                        p メンバーは自由にテンプレートの項目追加が行えます。
                            br
                            | ディレクター・クリエイター・エンジニアといった様々な立場から項目を充実させることで、
                            br
                            | 見落としがちなポイントも抜けがありません。
                    .solution-box__img-sp.img-sp__right.img-sp__top
                        img(src="/assets/img/solution-02-sp.png", alt="")
                        .solution-bluebox__left 
                            img(src="/assets/img/solution-box02-sp.png", alt="") 
                    .solution-box__img
                        img(src="/assets/img/solution-01.png", alt="")
                        .solution-box__left
                            p 既に完成されたテン
                                br
                                | プレート通りに
                                br
                                | 進めるだけ！
                .solution-box
                    .solution-box__number  
                        h2 3
                    .solution-box__title
                        p コメント機能で見える化
                    .solution-box__dsc
                        p テンプレート内のチェック項目の消化度やメンバーによる質問と回答、
                            br
                            | 各項目の進捗や作業担当者などを見える化することで、
                            br
                            | プロジェクトの進行をスムーズにします。
                    .solution-box__img-sp.img-sp__left.img-sp__top
                        img(src="/assets/img/solution-03-sp.png", alt="")
                        .solution-bluebox__right 
                            img(src="/assets/img/solution-box03-sp.png", alt="") 
                    .solution-box__img
                        img(src="/assets/img/solution-02.png", alt="")
                        .solution-box__right
                            p 既に完成されたテン
                                br
                                | プレート通りに
                                br
                                | 進めるだけ！
                .solution-box
                    .solution-box__number  
                        h2 4
                    .solution-box__title.pc
                        p ヒント機能で経験が浅くても安心
                    .solution-box__dsc
                        p 項目ごとに付けられるヒント機能により、
                            br
                            | 作業のコツや注意点を各メンバーと簡単に共有！
                    .solution-box__img-sp.img-sp__last
                        img(src="/assets/img/solution-04-sp.png", alt="")
                    .solution-box__img
                        img(src="/assets/img/solution-03.png", alt="")
        .contact
            .footer-inner 
                .footer-inner__contact-pc
                    p 費用等、導入についてのご質問は下記よりご連絡ください。
                .footer-inner__contact-sp 
                    p 費用等、導入についての
                        br
                        | ご質問は下記よりご連絡ください。
                .footer-inner__btn  
                    a(href="https://idealump.com/contact") 
                        p お問い合わせはこちら
                p.footer-inner__demo デモ画面・機能一覧もお見せいたします！
        .footer__pagetop
            .footer__pagetop__link 
                a(href="#")